$container-width-lg: 80%;

/* font */
$font-mukta-tamil:'Mukta Malar', sans-serif;
$font-monserrat: 'Montserrat', sans-serif;

/* colors */
$theme-color: (
    "Base": #fff,
    "primary": #3f43fd,
    "primary-variant": #9673fd,
    "accent": #020710
);